# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.so
*.whl

# Jupyter
.ipynb_checkpoints

# Rust
target/
**/*.rs.bk

# Maturin
dist/

# Environment and system files
.venv/
.vscode/
.idea/
*.o
*.a
*.dll
*.dylib
*.pdb
*.exp
*.lib
*.pxd
*.pxi
*.exe
*.prof
.DS_Store
*.swp
*.swo
